

.custom-tab .nav-link.active {
    color:black;
    border-bottom: 2px solid white !important;  
}


.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
    color: white !important;  
    background-color: black !important;  
    border-color: white !important;  
}


.disabled-tab{  
    color: black !important;  
    background-color: black !important;  
    border-color: black !important; 
    width: 0% !important; 
    height: 0% !important; 
    padding: 0%!important; 
    margin: 0% !important; 


}

/* Hide and disable the "None" tab */
/*
#disabled-tab {
    border:none !important;
    border-color: black !important;  
    display: none !important;  
    pointer-events: none !important; 
}
*/

/*
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
    color: white !important;  
    background-color: transparent !important;  
    border-color: transparent !important;  
}
*/